<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isSection</key>
			<true/>
			<key>shouldShow</key>
			<true/>
			<key>title</key>
			<string>Transfers</string>
			<key>icon</key>
			<string>menu_transfers_icon</string>
			<key>detailVCIdentifier</key>
			<string>WebViewController</string>
			<key>detailVCTitle</key>
			<string></string>
			<key>webUrl</key>
			<string></string>
			<key>subCategories</key>
			<array>
				<dict>
					<key>title</key>
					<string>Account Transfer</string>
					<key>icon</key>
					<string></string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Transfers/Account</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Member Transfer</string>
					<key>icon</key>
					<string></string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Transfers/Member</string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Scheduled Transfer</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Transfers/Scheduled</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Pending Ach Transfers</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/ACH/Index</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Check Withdrawals</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Transfers/Check</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>isSection</key>
			<true/>
			<key>title</key>
			<string>Online Service</string>
			<key>shouldShow</key>
			<true/>
			<key>icon</key>
			<string>menu_online_service_icon</string>
			<key>detailVCIdentifier</key>
			<string>WebViewController</string>
			<key>webUrl</key>
			<string></string>
			<key>detailVCTitle</key>
			<string></string>
			<key>subCategories</key>
			<array>
				<dict>
					<key>title</key>
					<string>E Statement</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/EStatements/Index</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Bill Pay</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/BillPay/Index</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Check Order</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/CheckOrder/Ineligible</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Money Desktop</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/MX</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Member Alerts</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>shouldShow</key>
					<true/>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Alerts/Index</string>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Loan Application</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>shouldShow</key>
					<true/>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/LoanApplication/Index</string>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Tax Information</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>shouldShow</key>
					<true/>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Account/Tax</string>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Notices</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>shouldShow</key>
					<true/>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Notices/List</string>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>External Credit Card</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/ECC</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Stop Payment</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/StopPayment/Index</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>isSection</key>
			<false/>
			<key>shouldShow</key>
			<true/>
			<key>title</key>
			<string>Mobile Deposit</string>
			<key>icon</key>
			<string>menu_mobile_deposit_icon</string>
			<key>detailVCIdentifier</key>
			<string>MobileDepositController</string>
			<key>webUrl</key>
			<string></string>
			<key>detailVCTitle</key>
			<string></string>
			<key>subCategories</key>
			<array/>
		</dict>
	</array>
	<array>
		<dict>
			<key>isSection</key>
			<false/>
			<key>shouldShow</key>
			<true/>
			<key>title</key>
			<string>Send Money (P2P)</string>
			<key>icon</key>
			<string>menu_send_money_icon</string>
			<key>detailVCIdentifier</key>
			<string>PayPersonController</string>
			<key>detailVCTitle</key>
			<string></string>
			<key>webUrl</key>
			<string></string>
			<key>subCategories</key>
			<array/>
		</dict>
	</array>
	<array>
		<dict>
			<key>isSection</key>
			<false/>
			<key>shouldShow</key>
			<true/>
			<key>title</key>
			<string>Message Center</string>
			<key>icon</key>
			<string>menu_message_center_icon</string>
			<key>detailVCIdentifier</key>
			<string>WebViewController</string>
			<key>detailVCTitle</key>
			<string></string>
			<key>webUrl</key>
			<string>https://nsmobilecp.ns3web.com/Messages/Index</string>
			<key>subCategories</key>
			<array/>
		</dict>
	</array>
	<array>
		<dict>
			<key>isSection</key>
			<true/>
			<key>shouldShow</key>
			<true/>
			<key>title</key>
			<string>Member Service</string>
			<key>icon</key>
			<string>menu_member_service_icon</string>
			<key>webUrl</key>
			<string></string>
			<key>detailVCIdentifier</key>
			<string>WebViewController</string>
			<key>detailVCTitle</key>
			<string></string>
			<key>subCategories</key>
			<array>
				<dict>
					<key>title</key>
					<string>Update profile</string>
					<key>icon</key>
					<string></string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Profile/Update</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Change account name</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Username/Change</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Change password</string>
					<key>icon</key>
					<string></string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Password/Change</string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Suffix preferences</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/SuffixPreferences/Index</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>overdraft preferences</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Account/Preferences</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>isSection</key>
			<true/>
			<key>shouldShow</key>
			<true/>
			<key>title</key>
			<string>Rates &amp; loan</string>
			<key>icon</key>
			<string>menu_rates_loan_icon</string>
			<key>detailVCIdentifier</key>
			<string>WebViewController</string>
			<key>webUrl</key>
			<string></string>
			<key>detailVCTitle</key>
			<string></string>
			<key>subCategories</key>
			<array>
				<dict>
					<key>title</key>
					<string>Apply for A loan</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://www.google.com</string>
					<key>shouldShow</key>
					<true/>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
				<dict>
					<key>title</key>
					<string>Rates</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>shouldShow</key>
					<true/>
					<key>webUrl</key>
					<string>https://www.google.com</string>
					<key>detailVCTitle</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>isSection</key>
			<true/>
			<key>title</key>
			<string>Location &amp; ATMs</string>
			<key>shouldShow</key>
			<true/>
			<key>icon</key>
			<string>menu_location_icon</string>
			<key>detailVCIdentifier</key>
			<string></string>
			<key>webUrl</key>
			<string></string>
			<key>detailVCTitle</key>
			<string></string>
			<key>subCategories</key>
			<array>
				<dict>
					<key>title</key>
					<string>Branch Location</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>BranchLocationViewController</string>
					<key>webUrl</key>
					<string></string>
					<key>detailVCTitle</key>
					<string></string>
					<key>shouldShow</key>
					<true/>
				</dict>
				<dict>
					<key>title</key>
					<string>Surcharge free ATMs</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>ATMLocationViewController</string>
					<key>webUrl</key>
					<string></string>
					<key>detailVCTitle</key>
					<string></string>
					<key>shouldShow</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>isSection</key>
			<true/>
			<key>title</key>
			<string>Important Links</string>
			<key>shouldShow</key>
			<true/>
			<key>icon</key>
			<string>menu_location_icon</string>
			<key>detailVCIdentifier</key>
			<string></string>
			<key>webUrl</key>
			<string></string>
			<key>detailVCTitle</key>
			<string></string>
			<key>subCategories</key>
			<array>
				<dict>
					<key>title</key>
					<string>Link 1</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Transfers/Account</string>
					<key>detailVCTitle</key>
					<string></string>
					<key>shouldShow</key>
					<true/>
				</dict>
				<dict>
					<key>title</key>
					<string>Link 2</string>
					<key>icon</key>
					<string></string>
					<key>detailVCIdentifier</key>
					<string>WebViewController</string>
					<key>webUrl</key>
					<string>https://nsmobilecp.ns3web.com/Transfers/Account</string>
					<key>detailVCTitle</key>
					<string></string>
					<key>shouldShow</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>isSection</key>
			<false/>
			<key>title</key>
			<string>Settings</string>
			<key>shouldShow</key>
			<true/>
			<key>icon</key>
			<string>menu_settings_icon</string>
			<key>detailVCIdentifier</key>
			<string>SettingsViewController</string>
			<key>detailVCTitle</key>
			<string></string>
			<key>webUrl</key>
			<string></string>
			<key>subCategories</key>
			<array/>
		</dict>
	</array>
	<array>
		<dict>
			<key>isSection</key>
			<false/>
			<key>title</key>
			<string>Social Media</string>
			<key>icon</key>
			<string>menu_social_media_icon</string>
			<key>shouldShow</key>
			<true/>
			<key>webUrl</key>
			<string></string>
			<key>detailVCIdentifier</key>
			<string>SocialMediaViewController</string>
			<key>detailVCTitle</key>
			<string></string>
			<key>subCategories</key>
			<array/>
		</dict>
	</array>
	<array>
		<dict>
			<key>isSection</key>
			<false/>
			<key>title</key>
			<string>Log Out</string>
			<key>shouldShow</key>
			<true/>
			<key>icon</key>
			<string>menu_log_off_icon</string>
			<key>detailVCIdentifier</key>
			<string></string>
			<key>webUrl</key>
			<string></string>
			<key>detailVCTitle</key>
			<string></string>
			<key>subCategories</key>
			<array/>
		</dict>
	</array>
</array>
</plist>
