<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>googleApiKey</key>
	<string>AIzaSyCZkSrAFGWnDYiSb1GTuXeQ8UcLcCRcjjY</string>
	<key>TestFairyID</key>
	<string>0d214628fc17621672de9113b24e97cc48c454eb</string>
	<key>baseUrl</key>
	<string>https://coast2coastpp.ns3web.com</string>
	<key>customerId</key>
	<string>68</string>
	<key>ssoBaseUrl</key>
	<string>https://preprod.ns3web.com/Coast2Coast_5a6a434123b1409293e4da1a8dac4cb9/NSHome</string>
	<key>buttonColor</key>
	<string>#017ca3</string>
	<key>staticTextColor</key>
	<string>#333333</string>
	<key>variableTextColor</key>
	<string>#31708f</string>
	<key>logoMobileMain</key>
	<string></string>
	<key>joinLink</key>
	<string>https://www.c2cfcu.com/NSJoin/</string>
	<key>applyLoanLink</key>
	<string>https://www.c2cfcu.com/NSLoan/loanapp/</string>
	<key>branchLocationLink</key>
	<string>https://www.c2cfcu.com/atm.php</string>
	<key>contactLink</key>
	<string>https://www.c2cfcu.com/contact.php</string>
	<key>ratesLink</key>
	<string>https://www.c2cfcu.com/rates.php</string>
	<key>privacyPolicyLink</key>
	<string>https://www.c2cfcu.com/privacy.php</string>
	<key>menuBackgroundColor</key>
	<string>#017ca3</string>
	<key>menuTextColor</key>
	<string>#ffffff</string>
	<key>loginImage</key>
	<string></string>
	<key>splashImage</key>
	<string></string>
	<key>emp1Email</key>
	<string></string>
	<key>emp2Email</key>
	<string></string>
	<key>vertifiSecretKey</key>
	<string>ad4c74ff05a8d4fd5ec8674121bf745c</string>
	<key>vertifiRequestorKey</key>
	<string>263183117-Shareone</string>
	<key>vertifiRouting</key>
	<string>263183117</string>
	<key>CoOpId</key>
	<string>kDfLB3iqJzz7pBy</string>
	<key>DeepTargetId</key>
	<string>https://olb2.deeptarget.com/Service1stCU</string>
	<key>OuttageVerbiage</key>
	<string>This application is currently unavailable.Please try again later.</string>
	<key>DisableShowOffers</key>
	<true/>
	<key>SocialFacebookLink</key>
	<string>https://www.facebook.com/ShareOneInc/?ref=hl</string>
	<key>SocialTwitterLink</key>
	<string>https://twitter.com/ShareOne_EDU</string>
	<key>SocialLinkedinLink</key>
	<string>https://www.linkedin.com/company/home?report%2Efailure=97FtKHe01TXZqDCgSwRuDAgNTvtFmw4BIp13UzOz81TxIU0_mpSjJzEz71T0SxI_14ZseOdd6PTdIUg_m4RXeOXe6Ljz4r26IOv3a38J8A5UFd8h</string>
</dict>
</plist>
