<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>coast2coastcp.ns3web.com</string>
	<key>customerId</key>
	<string>59</string>
	<key>controllerUrl</key>
	<string>coast2coast.ns3web.com</string>
	<key>buttonColor</key>
	<string>#017ca3</string>
	<key>staticTextColor</key>
	<string>#333333</string>
	<key>variableTextColor</key>
	<string>#31708f</string>
	<key>logoMobileMain</key>
	<string></string>
	<key>joinLink</key>
	<string>https://www.c2cfcu.com/NSJoin/</string>
	<key>applyLoanLink</key>
	<string>https://www.c2cfcu.com/NSLoan/loanapp/</string>
	<key>branchLocationLink</key>
	<string>https://www.c2cfcu.com/atm.php</string>
	<key>contactLink</key>
	<string>https://www.c2cfcu.com/contact.php</string>
	<key>ratesLink</key>
	<string>https://www.c2cfcu.com/rates.php</string>
	<key>privacyPolicyLink</key>
	<string>https://www.c2cfcu.com/privacy.php</string>
	<key>menuBackgroundColor</key>
	<string>#017ca3</string>
	<key>menuTextColor</key>
	<string>#ffffff</string>
	<key>loginImage</key>
	<string></string>
	<key>splashImage</key>
	<string></string>
	<key>emp1Email</key>
	<string></string>
	<key>emp2Email</key>
	<string></string>
	<key>vertifiSecretKey</key>
	<string>ad4c74ff05a8d4fd5ec8674121bf745c
</string>
	<key>vertifiRequestorKey</key>
	<string>263183117</string>
	<key>fiCkrouting</key>
	<string>263183117</string>
	<key>CoOpId</key>
	<string>kDfLB3iqJzz7pBy</string>
	<key>DeepTargetId</key>
	<string>https://olb2.deeptarget.com/ Service1stCU</string>
	<key>OuttageVerbiage</key>
	<string>Keep the same one used in demo.</string>
	<key>DisableShowOffers</key>
	<false/>
	<key>SocialFacebookLink</key>
	<string></string>
	<key>SocialTwitterLink</key>
	<string></string>
	<key>SocialLinkedinLink</key>
	<string></string>
</dict>
</plist>
