<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>https://alatrustpp.ns3web.com</string>
	<key>creditUnionPrivateKey</key>
	<string>97320ae43d9643eea4377da0a5846b7d</string>
	<key>creditUnionPublicKey</key>
	<string>a84a1a1489634803a724a7167d2eb5f0</string>
	<key>ssoBaseUrl</key>
	<string>https://preprod.ns3web.com/AlaTrust_4cc384f0dd31498daa50f28ae735847c/NSHome</string>
	<key>ssoPrivateKey</key>
	<string>1c4d379e533945a8a0c23525ddd85e89</string>
	<key>hMacType</key>
	<string>SHA256</string>
	<key>securityVersion</key>
	<string>1.1</string>
	<key>googleApiKey</key>
	<string>AIzaSyB2ZZ-Y_IgwIiL-fdPO6cXj0W2CLsxIbh8</string>
	<key>TestFairyID</key>
	<string>0d214628fc17621672de9113b24e97cc48c454eb</string>
	<key>customerId</key>
	<string>59</string>
	<key>buttonColor</key>
	<string>#222222  </string>
	<key>buttonTextColor</key>
	<string>#ffffff</string>
	<key>staticTextColor</key>
	<string>#333333</string>
	<key>variableTextColor</key>
	<string>#632664</string>
	<key>logoMobileMain</key>
	<string></string>
	<key>joinLink</key>
	<string>https://apps-alatrust.ns3web.com/NSJoin</string>
	<key>applyLoanLink</key>
	<string>https://apps-alatrust.ns3web.com/NSLoan/loanapp</string>
	<key>branchLocationLink</key>
	<string>http://www.alatrustcu.com/Locations-and-Hours.aspx</string>
	<key>contactLink</key>
	<string>http://www.alatrustcu.com/Contact-Us.aspx</string>
	<key>ratesLink</key>
	<string>www.alatrustcu.com/Borrow/Loan-Rates.aspx</string>
	<key>privacyPolicyLink</key>
	<string>http://www.alatrustcu.com/Privacy-Policy.aspx</string>
	<key>menuBackgroundColor</key>
	<string>#222222</string>
	<key>menuTextColor</key>
	<string>#ffffff</string>
	<key>loginImage</key>
	<string></string>
	<key>splashImage</key>
	<string></string>
	<key>emp1Email</key>
	<string></string>
	<key>emp2Email</key>
	<string></string>
	<key>vertifiSecretKey</key>
	<string>ad4c74ff05a8d4fd5ec8674121bf745c</string>
	<key>vertifiRequestorKey</key>
	<string>263183117-Shareone</string>
	<key>vertifiRouting</key>
	<string>262084916</string>
	<key>CoOpId</key>
	<string>yWMEGFcsM6foYsc</string>
	<key>DeepTargetId</key>
	<string>https://olb.deeptarget.com/AlatrustCU</string>
	<key>OuttageVerbiage</key>
	<string>Keep the same one used in demo.</string>
	<key>DisableShowOffers</key>
	<false/>
	<key>SocialFacebookLink</key>
	<string>https://www.facebook.com/AlaTrustCU</string>
	<key>SocialTwitterLink</key>
	<string>https://twitter.com/AlaTrustCU</string>
	<key>SocialLinkedinLink</key>
	<string>https://www.linkedin.com/company/9418432</string>
</dict>
</plist>
